/* Write your CSS here */

.item-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title {
  font-size: 13px;
  font-family: 'roboto';
}

.button {
  height: 20px;
  width: 50px;
  font-size: 11px;
  font-family: 'roboto';
  margin-left: 30px;
  background-color: #ffffff;
  color: #ff0b37;
  border-color: #ff0b37;
  border-radius: 3px;
}
